#idField {
    width: 60%;
    padding: 6px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#date {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1 1 0px;
}
  
#datepicker {   
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 8px;
    margin-top: -10px;
    margin-right: 3px;
}
#ID {
    display: inline-block;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding-left: 0;
    padding-right: 0;
}